# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# mypy
.mypy_cache/

# Firebase cache
.firebase/

# Project's ignore
.env
.envrc
.python-version
result.xml
public/*.js
public/*.js.map
public/*.css
public/*.css.map
public/*.LICENSE.txt
node_modules
.terraform
*.tfvars
*.tfstate
*.tfstate.backup

terraform/service_account_key.json
