body {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
}

footer {
  border-top: 1px solid lightgray;
  margin-top: 20px;
  padding: 8px 0;
}

textarea {
  &.fixed {
    resize: none;
  }
}

.navbar {

  .navbar-brand {

    img {
      margin-right: 5px;
    }
  }
}

#top-message {
  margin: 10px 0 15px;
}

.input-field-container {
  margin-top: 20px;

  .submit {
    margin-top: 5px;
  }
}

.result-field-container {
  margin-top: 20px;

  .result-field-content {
    margin-top: 15px;
  }
}

.CodeMirror {
  border: 1px solid lightgray;

  .CodeMirror-placeholder {
    color: gray;
  }
}

.statement-editor {

  .CodeMirror {
    height: 390px;
  }

  &.is-invalid {

    .CodeMirror {
      border-color: #DF382C,
    }
  }
}

.context-editor {

  .CodeMirror {
    height: 300px;
  }

  &.is-invalid {

    .CodeMirror {
      border-color: #DF382C,
    }
  }
}
